*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    height: 100%;/*继承浏览器窗口的100%*/
}

body{
    height: 100%;
    font: 100%/1.25 Helvetica,arial,helvetica;
    color: aliceblue;
    perspective: 1000px;/*将视角拉倒距离body1000px的角度*/
    background: linear-gradient(to bottom,#444,#999);
}

.book{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;/*先相对榜样body定位到*/
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
    cursor: pointer;
    user-select: none;
    transform: rotateX(60deg);
}

.page{
    width: 300px;
    height: 300px;
    padding: 1em;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 2em;
}

.front{
    background: #d93e2b;
}

.back{
    background-color: #fff;
}

.front-cover{
    transform-origin: 0 50%;
    transform: rotateY(0deg);
}

.p3d{
    transform-style: preserve-3d;
}

.front-cover .back{
    background-image: url(https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcS_BlI1NlPKUsILI44Tigzz_8i9uGNet5aVZszLJP-gLIXhOerBu-0myrdcHOSX6OBQFFLRNCutVa1EUdk);
    background-size: cover;
    transform: translateZ(3px);
}

.flip{
    transform: rotateY(180deg);
}

.shadow,.pic{
    width: 196px;
    height: 132px;
    position: absolute;
    left: 60px;
    top: 60px;
    transform-origin: 0 100%;
}

.pic{
    background: url(https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcS_BlI1NlPKUsILI44Tigzz_8i9uGNet5aVZszLJP-gLIXhOerBu-0myrdcHOSX6OBQFFLRNCutVa1EUdk);
    /* transform: ; */
    background-size: cover;
}

.shadow{
    background-color: rgba(0, 0, 0, 0.5);
}